fastapi
uvicorn
pytesseract
python-dotenv
requests
azure-storage-blob
psycopg2-binary
Pillow
pdf2image
python-multipart  
opencv-python
opencv-python-headless 
numpy
PyYAML
openai
torch
torchvision
torchaudio
git+https://github.com/openai/CLIP.git
deepface
tf-keras
